@using Helpers.ViewModels;
@model IEnumerable<PostVM>; // Assuming BlogPost is your model for blog posts
@{
    Layout = "/Views/Shared/_Layout.cshtml";
}
<div class="container mt-5">
    <!-- Page Header-->
    <header class="masthead" style="background-image: url('~/images/home-bg.jpg')">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="site-heading">
                        <h1>Welcome To BlogPosts</h1>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Main Content-->
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                @foreach (PostVM post in Model)
                {
                    <!-- Post preview-->
                    <div class="post-preview">
                        <h2 class="post-title">@post.Title</h2>
                        <p>@Html.Raw(Helpers.Helper.StringHelper.Truncate(post.Content, 200))</p> <!-- Truncate content to 200 characters -->
                        <p class="post-meta">
                            Posted by
                            <a href="#!">@post.Author</a>
                            on @post.PostTimeStamp
                        </p>
                        <a href="Posts/Posts/Details/@post.PostId">Read More</a>
                    </div>
                    <!-- Divider-->
                    <hr class="my-4" />
                }
            </div>
        </div>
    </div>
</div>
