@using Helpers.ViewModels;
@model IEnumerable<PostVM>; // Assuming BlogPost is your model for blog posts
@{
    Layout = "/Views/Shared/_Layout.cshtml";
}
<div class="container mt-5">
    <div class="row">
        <div class="col">
            <h1>Welcome to Our Blog!</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <ul class="list-group">
                @foreach (PostVM post in Model)
                {
                    <li >
                        <h2>@post.Title</h2>
                        <p>@post.Content</p>
                        <p>Author: @post.Author</p>
                        <a href="@Url.Action("Details", "Blog", new { id = post.PostId })">Read More</a>
                    </li>
                }
            </ul>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col">
            @if (!User.Identity.IsAuthenticated)
            {
                <p>You need to <a href="/Auth/Account/SignIn">sign in</a> to create a new blog post.</p>
            }
            else
            {
                <a href="/Posts/Posts/Create" class="btn btn-success">Create New Blog Post</a>
            }
        </div>
    </div>
</div>
