@model IEnumerable<Blogger.Models.Post>

@{
    ViewData["Title"] = "Index";
    Layout = "../Shared/_Layout.cshtml";
}
<div class="container">
    <div class="d-flex flex-row-reverse">
        <div class="p-2 bd-highlight">
            <a href="/Posts/Posts/Create" class="btn btn-primary bd-highlight">
                <i class="bi bi-plus-circle-fill"></i>
            </a>
        </div>
    </div>

    <h1>Index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Last Modified Date</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StatusChangeDate)
                    </td>
                    <td>
                        <!-- Edit Icon -->
                        <a href="/Posts/Posts/Edit/@item.Id" class="btn btn-primary">
                            <i class="bi bi-pencil-fill"></i>
                        </a>

                        <!-- Details Icon -->
                        <a href="/Posts/Posts/Details/@item.Id" class="btn btn-info">
                            <i class="bi bi-info-circle-fill"></i>
                        </a>

                        <!-- Delete Icon -->
                        <a href="/Posts/Posts/Delete/@item.Id" class="btn btn-danger">
                            <i class="bi bi-trash-fill"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>